{% extends "base.html" %}

{% block content %}
<div class="exercise_body">
    <p class="page_title">{{ exercise }}</p>
    <div>
        <div class="display_max">
            <p>Max:</p>
            {% if pb %}
                <p>{{ pb }} kg</p>
            {% else %}
                <p>Ekki skráð</p>
            {% endif %}
        </div>
        <div class="listing_runs">
            {% if date %}
                <p>Fyrri æfing {{ date }}</p>
                <div>
                    {% for set in sets %}
                        <p>{{ set }} kg</p>
                    {% endfor %}
                </div>
            {% else %}
                <p>Engar fyrri æfingar</p>
            {% endif %}
        </div>
        <div class="listing_runs">
            <p>Virk æfing</p>
            <div>
                {% if active_workout %}
                    {% for set in active_workout %}
                        <p>{{ set }}</p> 
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <form method="POST">
        <div class="exercise_buttons button_style">
            <a href="{{ url_for('register_set', exercise=exercise) }}">Skrá set</a>
            <a href="{{ url_for('select_exercise') }}">Klára</a>
        </div>
    </form>
</div>
{% endblock %}