{% extends "base.html" %}

{% block content %}

<div class="register_set">
    <p class="page_title">Skrá {{ exercise }} set</p>
    <form class="register_set_form">
        <div class="register_set_input">
            <p> Reps: </p>
            <input type="number" value=5>
        </div>
        <div class="register_set_input">
            <p> Þyngd: </p>
            <input type="number" value=100>
        </div>
    </form>
    
    <div class="exercise_buttons">
        <a href="{{ url_for('exercise', exercise=exercise) }}">Vista</a>
        <a>Hætta</a>
    </div>
</div>

{% endblock %}