{% extends "base.html" %}

{% block content %}

<div class="register_set">
    <p class="page_title">Skrá {{ exercise }} set</p>
    <form method="POST">
        <div class="register_set_form" >
            <div class="register_set_input">
                <p> Reps: </p>
                <input type="number" name="reps" value=5>
            </div>
            <div class="register_set_input">
                <p> Þyngd: </p>
                <input type="number" name="weight" value=100>
            </div>
        
            <div class="exercise_buttons button_style">
                <input type="submit" value="Skrá sett">
                <a href="{{ url_for('exercise', exercise=exercise, index='0') }}">Hætta</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}