{% extends "base.html" %}

{% block content %}
    <div class="select_exercise">
        <p>
            Veldu æfingu:
        </p>
    </div>
    <div class="listing_exercises">
        {% for exercise in exercises %}
        <a href="{{ url_for('exercise', exercise=exercise, index='0') }}">
            <img src="static/images/exercises/placeholder.jpg" 
                alt="{{ exercise }}" 
                >
            <p>{{ exercise }}</p>
        </a>
        {% endfor %}
    </div>
    <form method="POST">
        <input class="finish_workout_button button_style" type="submit" value="Klára æfingu">
    </form>
{% endblock %}